/node_modules
/public/hot
/public/css
/public/js
/public/images
/resources/lang
/public/storage
/storage/*.key
/config/acl.php
/storage/framework/cache/data
/vendor
/.idea
/.vscode
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env